html {
  font-size: 62.5%;
}

main {
  height: 95vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  height: 100%;
  background-color: rgb(252, 252, 252);
  font-size: 10pt;
  font-weight: 300;
  justify-content: center; /* Horizontally center content */
  align-items: center;
}

p {
  font-size: 20px;
  font-family: inherit;
}

footer {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0;
  height: 50px;
  justify-content: space-around;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CourierPS";
}
