
.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
}
.resetGameButton {
  padding-top: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Light grey background, was incorrectly labeled as green */
  outline-width: 2px; /* More typical outline width */
  outline-style: solid; /* This is needed to make the outline visible */
  outline-color: rgb(187, 187, 187);
  color: black; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicates clickable */
  font-size: 16px; /* Readability */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  height: 100%; /* Ensure the container fills its parent or has a defined height */
}

.tile {
  background-color: #4a4a4a;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.row {
  display: flex;
}
.tile1 {
  background-color: #aad750;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.tile2 {
  background-color: #a2d148;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.revealedtile1 {
  background-color: #f0dfce;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.revealedtile2 {
  background-color: #e7d5c4;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.mine {
  background-color: red;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
